name: SLSA Go releaser

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write

jobs:
  release:
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v1
    with:
      go-version: 1.19








