name: SLSA GoReleaser

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: SLSA GoReleaser builder
        uses: slsa-framework/slsa-github-generator/actions/goreleaser@v2
        with:
          go-version: 1.19










